.colon1{
    padding-left: 45px;
    padding-right: 15px;
}
.colon2{
    padding-left: 53px;
    padding-right: 15px;
    
}
.colon3{
    padding: 15px;}

.fonts{
    font-family: 'Open Sans Condensed', sans-serif;}